version: '3.8'

services:
  app:
    build: .
    ports:
      - "8081:8081"
      - "19000:19000"
      - "19001:19001"
      - "19002:19002"
    environment:
      - REACT_NATIVE_PACKAGER_HOSTNAME=localhost
    volumes:
      - .:/app
      - /app/node_modules
