version: '3.8'

services:
  server:
    build:
      context: ./server
      dockerfile: ../Dockerfile.server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/__PROJECT_NAME__
      - PORT=5000
    depends_on:
      - mongo

  client:
    build:
      context: ./client
      dockerfile: ../Dockerfile.client
    ports:
      - "5173:5173"
    depends_on:
      - server

  mongo:
    image: mongo
    ports:
      - "27017:27017"
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
